:root.theme-dark {
  --accent-color: #ff0070;
  --block-title-color: #ff0070;
  --button-color: #ff0070;
  --color-title: #db00ff;
  --subtitle-color: #000028;
  --main-bg: #000028;
  --button-hover-effect-color: rgba(255, 0, 112, 0.4);
  --bg-image: url("../images/cover-image-dark.png");
  --content-text-color: #f1b2ce;
  --content-text-size: 18px;
  --content-text-line-height: 23.4px;
  --visibility: visible;
}
