/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --block-title-color: #353430;
  --button-color: #353430;
  --color-title: #ffc2e6;
  --main-bg: none;
  --subtitle-color: #353430;
  --button-hover-effect-color: rgba(50, 49, 45, 0.4);
  --bg-image: url("../images/cover-image-light.png");
  --content-text-color: #353430;
  --content-text-size: 18px;
  --content-text-line-height: 1em;
  --visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --block-title-color: #353430;
    --button-color: #353430;
    --color-title: #ffc2e6;
    --subtitle-color: #353430;
    --button-hover-effect-color: rgba(50, 49, 45, 0.4);
    --bg-image: url("../images/cover-image-light.png");
    --content-text-color: #353430;
    --content-text-size: 18px;
    --content-text-line-height: 25px;
    --display: none;
  }
}
