/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
@import "./variables.css";

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: IBM Plex Mono;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  position: relative;
  block-size: 668px;
  font-family: IBM Plex Mono;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin-block-end: 30px;
  padding: 10px;
}

.header::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  position: absolute;
  border-block-start: 1px solid var(--button-color);
  border-inline-end: 1px solid var(--button-color);
}

.header::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 1px solid var(--button-color);
  border-inline-start: 1px solid var(--button-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 2px 13px;
  font-weight: 400;
  font-size: var(--content-text-size);
  line-height: 1em;
  color: var(--button-color);
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
  outline: none;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border: 1px solid var(--button-hover-effect-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83em;
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: end;
  text-align: left;
  margin-block-start: 20px;
}

.header__content {
  text-wrap: balance;
  align-self: end;
  text-align: left;
  justify-self: end;
  margin-block-end: 0 !important;
  line-height: var(--content-text-line-height);
}

.header__inscription {
  visibility: var(--visibility);
}

.main {
  padding: 10px;
}

/*...............................*/

.title-decor {
  font-weight: 700;
  font-size: var(--content-text-size);
  line-height: var(--content-text-line-height);
  color: var(--block-title-color);
  text-wrap: balance;
}

.subtitle-decor {
  color: var(--subtitle-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: var(--content-text-size);
  line-height: var(--content-text-line-height);
  margin-block-end: 10px;
}

.content-decor {
  font-weight: 400;
  font-size: var(--content-text-size);
  line-height: var(--content-text-line-height);
  color: var(--content-text-color);
  text-wrap: balance;
}

.text-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  cursor: pointer;
}

.text-link:hover {
  border-block-end: 1px solid var(--content-text-color);
}

.text-link:focus {
  outline: 1px solid var(--content-text-color);
}

/*......................*/

.header__inscription::before {
  content: "REC";
  color: var(--accent-color);
  font-weight: 400;
  font-size: var(--content-text-size);
  line-height: var(--content-text-line-height);
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 38px;
}

.header__inscription::after {
  content: "";
  block-size: 9px;
  inline-size: 9px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px var(--accent-color);
  border: none;
  border-radius: 50%;
  position: absolute;
  inset-block-start: 18px;
  inset-inline-end: 19px;
}

.block__hard,
.block__attention,
.block__red-fish {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px 20px;
  margin-block-end: 40px;
}

.block__hard-content {
  text-wrap: balance;
}

.block__attention-title {
  block-size: 1fr;
  text-wrap: balance;
}

.block__red-fish-first-subtitle {
  margin-block-end: 20px;
}

.block__red-fish-subtitle-decor {
  color: var(--subtitle-color);
  background-color: var(--accent-color);
  font-weight: 400;
  font-size: var(--content-text-size);
  line-height: var(--content-text-line-height);
  margin-block-end: 10px;
}

.block__gallery {
  display: grid;
  gap: 10px;
  margin-block-end: 40px;
}

.block__gallery-title {
  margin-block-end: 0;
}

.block__gallery-wrapper-img {
  inline-size: 100%;
}

.block__gallery-wrapper-img img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  min-block-size: 100vh;
  display: grid;
  place-items: center;
  padding: 10px;
}

.footer__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83em;
  color: var(--color-title);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  position: absolute;
  border-block-start: 1px solid var(--button-color);
  border-inline-end: 1px solid var(--button-color);
}

.footer::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 1px solid var(--button-color);
  border-inline-start: 1px solid var(--button-color);
}

/* MEDIA */
@media (width >= 768px) {
  .header,
  .main,
  .footer {
    padding: 20px;
  }

  .header {
    grid-template-rows: 2fr 2.5fr 2.5fr 2fr;
    block-size: 1024px;
  }

  .header::after {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .header::before {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__content {
    inline-size: 50%;
    align-self: flex-end;
  }

  .header__inscription::after {
    inset-block-start: 28px;
    inset-inline-end: 29px;
  }

  .header__inscription::before {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  .block__hard,
  .block__red-fish {
    grid-template-columns: 1fr 2fr;
  }

  .block__hard-article,
  .block__red-fish-article {
    grid-column: 2;
  }

  .block__gallery {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content repeat(2, 0.5fr) 1fr;
  }

  .block__gallery-title {
    grid-column: 1/-1;
    grid-row: 1;
  }

  .first__img {
    grid-column: span 2;
    grid-row: 2;
    align-self: stretch;
  }

  .second__image {
    grid-column: 3;
    grid-row: span 2;
  }

  .third__image {
    grid-column: 1;
    grid-row: span 2;
  }

  .fifth__image {
    grid-column: span 2;
  }

  .footer::before {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .footer::after {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }
}

@media (width >= 1024px) {
  .header {
    block-size: 768px;
    grid-template-rows: repeat(3, 2fr);
    gap: 25px;
  }

  .header::before {
    inset-block-end: 20px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    align-self: center;
  }

  .header__content {
    align-self: center;
  }

  .block__attention {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
  }

  .block__attention-article {
    grid-row: 2;
  }
}
