/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
@import "./variables.css";

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: IBM Plex Mono;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.main,
.footer {
  background-color: var(--main-bg);
}

.header {
  position: relative;
  min-block-size: 100vh;
  font-family: IBM Plex Mono;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  margin-block-end: 40px;
  padding: 10px;
}

/* Уголки - всегда видны в обеих темах */
.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  position: absolute;
  border-block-start: 1px solid var(--button-color);
  border-inline-end: 1px solid var(--button-color);
}

.decorated-zone::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 1px solid var(--button-color);
  border-inline-start: 1px solid var(--button-color);
}

/* REC метка и точка - ТОЛЬКО для темной темы */
.header__rec {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 38px;
  color: var(--accent-color);
  font-weight: 400;
  font-size: var(--content-text-size);
  line-height: var(--content-text-line-height);
  visibility: var(--visibility);
}

.header__rec::after {
  content: "";
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: -19px;
  block-size: 9px;
  inline-size: 9px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px var(--accent-color);
  border: none;
  border-radius: 50%;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-block-start: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 2px 13px;
  font-weight: 400;
  font-size: var(--content-text-size);
  line-height: 1em;
  color: var(--button-color);
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  text-transform: lowercase;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
  outline: none;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border: 1px solid var(--button-hover-effect-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83em;
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
  text-align: left;
}

.header__content {
  justify-self: end;
  align-self: center;
  inline-size: 100%;
  text-wrap: balance;
  text-align: left;
  line-height: var(--content-text-line-height);
  margin-block-end: 0 !important;
}

.main {
  padding: 0 10px;
}

/*...............................*/

.title-decor {
  font-weight: 700;
  font-size: var(--content-text-size);
  line-height: var(--content-text-line-height);
  color: var(--block-title-color);
}

.subtitle-decor {
  color: var(--subtitle-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: var(--content-text-size);
  line-height: var(--content-text-line-height);
}

.content-decor {
  font-weight: 400;
  font-size: var(--content-text-size);
  line-height: var(--content-text-line-height);
  color: var(--content-text-color);
}

.text-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  cursor: pointer;
  text-decoration: none;
}

.text-link:hover {
  border-block-end: 1px solid var(--content-text-color);
}

.text-link:focus {
  outline: 1px solid var(--content-text-color);
}

/*......................*/

.block__hard,
.block__attention,
.block__red-fish {
  margin-block-end: 50px;
}

.block__hard-title,
.block__attention-title,
.block__red-fish-title {
  margin-block-end: 20px;
}

.block__hard-content-wrapper,
.block__attention-content-wrapper,
.block__red-fish-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block__hard-article,
.block__attention-article,
.block__red-fish-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block__red-fish-intro {
  margin-block-end: 20px;
}

.block__red-fish-first-subtitle {
  margin-block-end: 0;
}

.block__gallery {
  margin-block-end: 40px;
}

.block__gallery-title {
  margin-block-end: 10px;
}

.block__gallery-grid {
  display: grid;
  gap: 10px;
}

.block__gallery-wrapper-img {
  inline-size: 100%;
}

.block__gallery-wrapper-img img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  min-block-size: 100vh;
  display: grid;
  place-items: center;
  padding: 10px;
}

.footer__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83em;
  color: var(--color-title);
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* MEDIA */
@media (width >= 768px) {
  .main,
  .footer {
    padding: 0 20px;
  }

  .header {
    padding: 20px;
    grid-template-rows: 1fr min-content 1fr;
  }

  .decorated-zone::after {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::before {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  /* REC метка для планшетов */
  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  .header__theme-menu {
    margin-block-start: 170px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .header__content {
    inline-size: 50%;
  }

  .block__hard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-block-end: 80px;
  }

  .block__hard-title {
    grid-column: 1;
    margin-block-end: 0;
  }

  .block__hard-content-wrapper {
    grid-column: 2;
  }

  .block__attention {
    margin-block-end: 80px;
  }

  .block__attention-title {
    inline-size: 30%;
    margin-block-end: 20px;
  }

  .block__red-fish {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-block-end: 80px;
  }

  .block__red-fish-title {
    grid-column: 1;
    margin-block-end: 0;
  }

  .block__red-fish-content-wrapper {
    grid-column: 2;
  }

  .block__red-fish-intro {
    grid-column: 1 / -1;
    margin-block-end: 0;
  }

  .block__gallery {
    margin-block-end: 60px;
  }

  .block__gallery-title {
    margin-block-end: 20px;
  }

  .block__gallery-grid {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 0.5fr) 1fr;
  }

  .first__img {
    grid-column: span 2;
    grid-row: 1;
  }

  .second__image {
    grid-column: 3;
    grid-row: span 2;
  }

  .third__image {
    grid-column: 1;
    grid-row: 2 / -1;
  }

  .fourth__image {
    grid-row: 2;
  }

  .fifth__image {
    grid-column: span 2;
    grid-row: 3;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-rows: 1fr min-content 1fr;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-block-start: 0;
    margin-inline-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__title {
    align-self: center;
  }

  .header__content {
    align-self: center;
  }

  .block__hard {
    gap: 20px;
  }

  .block__attention {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .block__attention-title {
    grid-column: span 3;
    inline-size: 100%;
  }

  .block__attention-content-wrapper {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .block__red-fish {
    gap: 20px;
  }
}
